<%- include template.ejs %>

	<div class="container">
		<!-- Displaying movie posters, actor photos, tv show posters for all search results -->
		<% movieData.results.map((movie, index) => { %>
			<div class="col-sm-4 posters">
				<%
				if(movie.poster_path == '/images/Keep-Calm-Poster-Not-Found.png' && isMovie == 1) { %>
					<img src="/images/Keep-Calm-Poster-Not-Found.png"> 
				<%	}
				else if (isMovie == 1) { %>
					<a href="/results/<%= movie.id %>"><img src="<%=imageUrl + movie.poster_path %>"></a>
					<p class="movie-title"><%= movie.title %></p>
				<% }


					if (movie.profile_path == '/images/photo-not-found.png' && isMovie == 0) {
						%> <img src="/images/photo-not-found.png"> <%
					} else if (isMovie == 0) { %>
						<img src="<%= imageUrl + movie.profile_path %>">

					<% }


				 %>

			</div>
		<% }); %>

	</div>


<%- include footer.ejs %>
